<div class="container">
  <div class="row">
    <!-- 雙向綁定 使用 [()], angular.module 要 import FormsModule 才能夠達成雙向綁定 -->
    <!-- [(ngModel)]="" 同時先給了 input value，也同時綁定 event-->
    <input type="text" name="" [(ngModel)]="serverName">
    <p class="ml-3">{{ serverName }}</p>
  </div>
</div>
<hr>
<app-server></app-server>
<app-server></app-server>
<hr>
<!-- property binding 使用[attr]="component 對應的資料名稱，一樣可以透過! 反轉布林值" -->
<!-- (event name) => {} event binding，命名方式通常為 html 原生事件去掉 on, ex: onclick = click, onmouseenter = mouseenter -->
<button 
  class="btn btn-primary" 
  [disabled]="!allowNweServer"
  (click)="onCreateServer()"
>Add Server</button>
<p>{{serverCreationStatus}}</p>
<!-- click binding 也可以直接寫 function 邏輯在內 -->
  
<!-- property binding 也有非 html attr 屬性可以用 -->
<div class="container">
  <div class="row">
    <p [innerText]="allowNweServer"></p>
    <div class="mx-3">=</div>
    <p>{{allowNweServer}}</p>
  </div>
  <div class="row">
    <label for="server Name" class="mr-3">server Name</label>
    <!-- input event 監聽使用者對 input 輸入行為，$event 負責傳遞該事件有value時的value -->
    <input type="text" name="" id="server Name" (input)="onUpdateServerName($event)">
    <p class="ml-3">{{ serverName }}</p>
  </div>
</div>
<hr>