<div class="container">
  <div class="row mb-3">
    <!-- 接收 app-servers 中夾的 tags -->
    <ng-content></ng-content>
  </div>
  <div class="row mb-3">
    <input type="text" name="" #serverContentInput>
    <button class="btn btn-primary ml-3" (click)="onCreateServerWithViewChild()">Add Server</button>
  </div>
  <div class="row">
    <!-- # 是 local Reference，可以用在任何 html element -->
    <!-- 這樣可以取代部分 雙向 binding -->
    <input type="text" name="" #serverNameInput>
    <button class="btn btn-primary ml-3" (click)="onCreateServerWithRef(serverNameInput)">Add Server</button>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">{{element.name}}</div>
      <div class="panel-body">
        <p>
          <strong *ngIf="element.type === 'server'" style="color: red;">{{element.content}}</strong>
          <em *ngIf="element.type === 'blueprint'" style="color: red;">{{element.content}}</em>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- 雙向綁定 使用 [()], angular.module 要 import FormsModule 才能夠達成雙向綁定 -->
    <!-- [(ngModel)]="" 同時先給了 input value，也同時綁定 event-->
    <input type="text" name="" [(ngModel)]="serverName">
    <p class="ml-3">{{ serverName }}</p>
    <div class="w-100 d-flex flex-wrap mt-3">
      <button class="btn btn-primary" (click)="onCreateServer()">Add Server</button>
      <!-- ngIf必須要與*號一起使用，ngIf 是指令型 Directive，ngIf 也可用 !反轉布林值-->
      <p class="w-100 mt-3" *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
      <!-- ng-template #noServer 對應上方 else noServer 行程 if else 條件 -->
      <ng-template class="w-100 mt-3" #noServer>
        <p class="w-100 mt-3">No Server was created.</p>
      </ng-template>
    </div>
  </div>
</div>
<hr>
<!-- *號用在會直接更動 Dom 的 Directive -->
<!-- ngFor="let variableName of componentProperty，variableName 可以在 html 中顯示 {{ variableName }}" -->
<!-- ngFor 第二個參數 index 是該物節點的索引值，可以給予變數在其他 Directive 使用 例如 [ngStyle]-->
<app-server *ngFor="let server of servers; let i = index"></app-server>
<hr>
<!-- property binding 使用[attr]="component 對應的資料名稱，一樣可以透過! 反轉布林值" -->
<!-- (event name) => {} event binding，命名方式通常為 html 原生事件去掉 on, ex: onclick = click, onmouseenter = mouseenter -->
<button 
  class="btn btn-primary" 
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>Add Server</button>
<p>{{serverCreationStatus}}</p>
<!-- click binding 也可以直接寫 function 邏輯在內 -->
  
<!-- property binding 也有非 html attr 屬性可以用 -->
<div class="container">
  <div class="row">
    <p [innerText]="allowNewServer"></p>
    <div class="mx-3">=</div>
    <p>{{allowNewServer}}</p>
  </div>
  <div class="row">
    <label for="server Name" class="mr-3">server Name</label>
    <!-- input event 監聽使用者對 input 輸入行為，$event 負責傳遞該事件有value時的value -->
    <input type="text" name="" id="server Name" (input)="onUpdateServerName($event)">
    <p class="ml-3">{{ serverName }}</p>
  </div>
</div>
<hr>